*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  color: #1d2025;
  font-weight: 400;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__jc_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__jc_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__ai_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 80px;
  }
}

@media (min-width: 300px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header {
  height: 70px;
  padding: 25px;
  background-color: #fff;
}

@media (min-width: 1024px) {
  header {
    padding: 45px 0;
    height: auto;
    margin: 0 150px;
    border-bottom: .2px solid #b6bcc87a;
  }
}

header img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

header .logo {
  margin-left: 20px;
}

@media (min-width: 1024px) {
  header .logo {
    margin-left: 0;
  }
}

header .hamburger_menu {
  width: 20px;
}

header .user_menu {
  margin-left: auto;
}

header .user_menu .profile {
  margin-left: 25px;
  height: 40px;
  width: auto;
  cursor: pointer;
}

@media (min-width: 1024px) {
  header .user_menu .profile {
    height: 40px;
    margin-left: 40px;
    border: 0 solid #ff7d1a;
    border-radius: 50%;
    -webkit-transition: ease-in-out .1s;
    transition: ease-in-out .1s;
  }
  header .user_menu .profile:hover {
    border: 2px solid #ff7d1a;
    border-radius: 50%;
  }
}

header .user_menu .cart .cart_styles {
  position: relative;
}

header .user_menu .cart .cart_styles__icon {
  -webkit-transition: ease-in-out .18s;
  transition: ease-in-out .18s;
}

header .user_menu .cart .cart_styles__icon:hover {
  opacity: .7;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

header .user_menu .cart .cart_styles__tag {
  display: none;
  position: absolute;
  top: -5px;
  left: 12px;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: .6rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff7d1a;
  cursor: pointer;
}

header .user_menu .cart .cart_styles .filled {
  display: block;
}

header .user_menu .cart__container {
  display: none;
}

header .user_menu .cart__container .cart_empty {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  color: #68707d;
}

@media (min-width: 1024px) {
  header .user_menu .summoned {
    position: relative;
  }
}

header .user_menu .summoned .cart__container {
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95vw;
  min-height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px #1d20252a;
          box-shadow: 2px 5px 10px #1d20252a;
  z-index: 3;
}

@media (min-width: 1024px) {
  header .user_menu .summoned .cart__container {
    width: 400px;
    height: 300px;
    left: 20px;
    top: 40px;
    -webkit-box-shadow: -1px 5px 13px #1d202540;
            box-shadow: -1px 5px 13px #1d202540;
  }
}

@media (min-width: 1400px) {
  header .user_menu .summoned .cart__container {
    left: -50px;
  }
}

header .user_menu .summoned .cart__container h2 {
  font-size: 1.2rem;
  padding: 25px;
  margin: 0;
  border-bottom: 1px solid #b6bcc8;
}

header .items_added .cart__container .item {
  padding: 25px;
}

header .items_added .cart__container .item .item_img {
  width: 50px;
  border-radius: 5px;
  cursor: default;
}

header .items_added .cart__container .item .item_description {
  color: #68707d;
}

header .items_added .cart__container .item .item_description p {
  margin: 5px 15px;
}

header .items_added .cart__container .item .item_description .total {
  margin-left: -5px;
  color: #1d2025;
  font-weight: 700;
}

header .items_added .cart__container .item .delete_btn {
  margin-left: auto;
}

header .items_added .cart__container .checkout {
  display: block;
  margin: 25px;
  padding: 20px;
  width: 305px;
  background-color: #ff7d1a;
  border: none;
  border-radius: 10px;
  color: #ffede0;
  font-weight: 700;
  -webkit-box-shadow: 1px 11px 20px #ff7d1a8f;
          box-shadow: 1px 11px 20px #ff7d1a8f;
  cursor: pointer;
}

@media (min-width: 1024px) {
  header .items_added .cart__container .checkout {
    width: 350px;
  }
}

header .main_menu {
  list-style-type: none;
}

header .main_menu li {
  margin: 0 17px;
}

header .main_menu a {
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  color: #68707d;
  -webkit-transition: ease-in-out .18s;
  transition: ease-in-out .18s;
}

header .main_menu a::after {
  content: '';
  display: block;
  position: absolute;
  top: 88px;
  height: 3px;
  width: 100%;
  background-color: #ff7d1a;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  visibility: hidden;
}

header .main_menu a:hover::after {
  visibility: visible;
}

header .main_menu a:hover {
  color: #1d2025;
}

.overlay {
  position: fixed;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: -25px;
  width: 60vw;
  height: 100vh;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 2px 16px #1d202562;
          box-shadow: -5px 2px 16px #1d202562;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: ease .4s;
  transition: ease .4s;
  z-index: 2;
}

@media (min-width: 1024px) {
  .overlay {
    display: none;
  }
}

.overlay .mobile_menu {
  position: absolute;
  list-style-type: none;
  top: 10%;
  left: 5%;
  -webkit-transform: translate(-10%, -5%);
          transform: translate(-10%, -5%);
}

.overlay .mobile_menu li {
  margin: 15px 0;
}

.overlay .mobile_menu a {
  text-decoration: none;
  color: #1d2025;
  font-weight: 700;
  font-size: 1rem;
}

.overlay .close_menu {
  width: 20px;
  margin: 25px;
}

.open .overlay {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.open .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .open .blur {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .open .blur {
    background-color: #1d20252a;
  }
}

.open .on .bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .open .on .bg {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .open .on .bg {
    background-color: #1d2025c4;
  }
}

@media (min-width: 1024px) {
  .product_slider_container {
    width: 50vw;
  }
}

.slider {
  position: relative;
}

@media (min-width: 1024px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 150px;
  }
}

@media (min-width: 1400px) {
  .slider {
    padding: 0 0 0 250px;
  }
}

.slider .image {
  width: 100vw;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 481px) {
  .slider .image {
    max-height: 55vh;
    -o-object-position: top center;
       object-position: top center;
  }
}

@media (min-width: 1024px) {
  .slider .image {
    margin: 30px;
    width: 450px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: ease .3s;
    transition: ease .3s;
  }
  .slider .image:hover {
    -webkit-transform: scale(102%);
            transform: scale(102%);
    opacity: .8;
  }
}

.slider_btns {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_btns img {
  background-color: #ffffff;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 16px #1c202591;
          box-shadow: -1px 1px 16px #1c202591;
}

.slider_btns__next {
  position: absolute;
  right: 10px;
}

.slider_btns__previous {
  margin-left: 10px;
}

.slider .thumbnails {
  width: 450px;
}

.slider .thumbnails .thumbnail {
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.slider .thumbnails .thumbnail:hover {
  opacity: .5;
}

.slider .thumbnails .active {
  opacity: .7;
  border: 3px solid #ff7d1a;
}

.lightbox .slider_container {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.lightbox .slider_container .slide_img_controls {
  position: relative;
}

.lightbox .slider_container .slide_img_controls .slider_btns_light {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lightbox .slider_container .slide_img_controls .slider_btns_light img {
  background-color: #ffffff;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 16px #1c202591;
          box-shadow: -1px 1px 16px #1c202591;
}

.lightbox .slider_container .slide_img_controls .slider_btns_light .light_btns__next {
  position: absolute;
  right: -15px;
}

.lightbox .slider_container .slide_img_controls .slider_btns_light .light_btns__previous {
  margin-left: -15px;
}

.lightbox .slider_container .slider_imgs {
  width: 550px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.lightbox .slider_container .light_thumb {
  width: 115px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.lightbox .slider_container .active {
  opacity: .7;
  border: 3px solid #ff7d1a;
}

.on .slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.on .bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .on .bg {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .on .bg {
    background-color: #1d202578;
  }
}

@media (min-width: 1024px) {
  .product_slider_container {
    width: 50vw;
  }
}

.product {
  padding: 25px;
  margin-bottom: 80px;
}

@media (min-width: 1024px) {
  .product {
    padding: 25px 150px 25px 130px;
  }
}

@media (min-width: 1400px) {
  .product {
    padding: 25px 250px 25px 130px;
  }
}

.product h4 {
  text-transform: uppercase;
  color: #ff7d1a;
}

.product h1 {
  font-size: 2rem;
}

.product p {
  color: #68707d;
}

.product .price_discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .price_discount h3 {
  font-size: 2rem;
  font-weight: 700;
}

.product .price_discount span {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #ffede0;
  border-radius: 5px;
  color: #ff7d1a;
  font-weight: 700;
}

.product .price_discount p {
  margin-left: auto;
  font-weight: 700;
  text-decoration: line-through;
  color: #b6bcc8;
}

.product .quantity_add_cart {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .product .quantity_add_cart {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.product .quantity_add_cart .quantity {
  background-color: #f7f8fd;
  width: 335px;
  height: 60px;
  padding: 0;
  border-radius: 10px;
}

.product .quantity_add_cart .quantity button {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: #ff7d1a;
  font-size: 1.5rem;
  font-weight: 700;
}

.product .quantity_add_cart .quantity input {
  background-color: transparent;
  border: none;
  height: 60px;
  text-align: center;
  cursor: text;
  font-weight: 700;
}

.product .quantity_add_cart .add_to_cart {
  background-image: url("/images/icon-cart-white.svg");
  background-repeat: no-repeat;
  background-position: 35% 50%;
  background-size: 6%;
  margin-top: 20px;
  padding: 20px 0 20px 35px;
  width: 335px;
  background-color: #ff7d1a;
  border: none;
  border-radius: 10px;
  color: #ffede0;
  font-weight: 700;
  -webkit-box-shadow: 1px 11px 20px #ff7d1a8f;
          box-shadow: 1px 11px 20px #ff7d1a8f;
  cursor: pointer;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.product .quantity_add_cart .add_to_cart:hover {
  opacity: .7;
}
/*# sourceMappingURL=style.css.map */