header {
    height: 70px;
    padding: 25px;
    background-color: #fff;

    @include desktop {
        padding: 45px 0;
        height: auto;
        margin: 0 150px;
        border-bottom: .2px solid #b6bcc87a;
    }

    img {
        object-fit: contain;
        cursor: pointer;
    }

    .logo {
        margin-left: 20px;

        @include desktop {
            margin-left: 0;
        }
    }

    .hamburger_menu {
        width: 20px;
    }

    .user_menu {
        margin-left: auto;
        
        .profile {
            margin-left: 25px;
            height: 40px;
            width: auto;
            cursor: pointer;

            @include desktop {
                height: 40px;
                margin-left: 40px;
                border: 0 solid color(primary);
                border-radius: 50%;
                transition: ease-in-out .1s;

                &:hover {
                    border: 2px solid color(primary);
                    border-radius: 50%;
                }
            }
        }

        .cart {

            .cart_styles {
                position: relative;

                &__icon {
                    transition: ease-in-out .18s;

                    &:hover {
                        opacity: .7;
                        transform: scale(105%);
                    }
                }

                &__tag {
                    display: none;
                    position: absolute;
                    top: -5px;
                    left: 12px;
                    padding: 2px 6px;
                    border-radius: 10px;
                    font-size: .6rem;
                    font-weight: 700;
                    color: color(white);
                    background-color: color(primary);
                    cursor: pointer;
                }

                .filled {
                    display: block;
                }
            }

            &__container {
                display: none;


                //Dynamically created content 

                .cart_empty {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    margin-top: 50px;
                    color: color(darkGB);
                }
            }

            
            
        }   
        .summoned {
            @include desktop {
                position: relative;
            }

            .cart__container {
                display: block;
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                width: 95vw;
                min-height: 250px;
                background-color: color(white);
                border-radius: 10px;
                box-shadow: 2px 5px 10px #1d20252a;
                z-index: 3;

                @include desktop {
                    width: 400px;
                    height: 300px;
                    left: 20px;
                    top: 40px;
                    box-shadow: -1px 5px 13px #1d202540;
                }

                @include ldesktop {
                    left: -50px;
                }

                h2 {
                    font-size: 1.2rem;
                    padding: 25px;
                    margin: 0;
                    border-bottom: 1px solid color(greyB);
                }
            }
        }
    }

    .items_added {
        .cart__container {
            .item {
                padding: 25px;

                .item_img {
                    width: 50px;
                    border-radius: 5px;
                    cursor: default;
                }

                .item_description {
                    color: color(darkGB);

                    p{
                        margin: 5px 15px;
                    }

                    .total {
                        margin-left: -5px;
                        color: color(darkB);
                        font-weight: 700;
                    }
                }

                .delete_btn {
                    margin-left: auto;
                }

            }
            .checkout {
                display: block;
                margin: 25px;
                padding: 20px;
                width: 305px;
                background-color: color(primary);
                border: none;
                border-radius: 10px;
                color: color(secondary);
                font-weight: 700;
                box-shadow: 1px 11px 20px #ff7d1a8f;
                cursor: pointer;

                @include desktop {
                    width: 350px;
                }
            }
        }
    }

    .main_menu {
        list-style-type: none;

        li {
            margin: 0 17px;
        }

        a {
            position: relative;
            padding: 10px 0;
            text-decoration: none;
            color: color(darkGB);
            transition: ease-in-out .18s;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 88px;
                height: 3px;
                width: 100%;
                background-color: color(primary);
                transition: ease-in-out .1s;
                visibility: hidden;
            }

            &:hover::after {
                visibility: visible;
            }

            &:hover {
                color: color(darkB);
            }
        }
    }


}

.overlay {
    position: fixed;
    align-self: flex-start;
    margin: -25px;
    width: 60vw;
    height: 100vh;
    background-color: color(white);
    box-shadow: -5px 2px 16px #1d202562;
    transform: translateX(-100%);
    transition: ease .4s;
    z-index: 2;

    @include desktop {
        display: none;
    }
    
    .mobile_menu {
        position: absolute;
        list-style-type: none;
        top: 10%;
        left: 5%;
        transform: translate(-10%, -5%);

        li {
            margin: 15px 0;
        }

        a {
            text-decoration: none;
            color: color(darkB);
            font-weight: 700;
            font-size: font-mobile(paragraph);
        }
    }

    .close_menu {
        width: 20px;
        margin: 25px;
    }
}

.open {
    .overlay {
        transform: translateX(0%);
    }

    .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;

        @supports (backdrop-filter: none){
            backdrop-filter: blur(2px);
        }

        @supports not (backdrop-filter: none){
            background-color: #1d20252a;
        }
    }
    
    .on {
        .bg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
        
            @supports (backdrop-filter: none){
                backdrop-filter: blur(5px);
            }
        
            @supports not (backdrop-filter: none){
                background-color: #1d2025c4;
            }
        }
    }
}



















